body {
    background: #f8f4f4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    width: 1550px;
    height: 79px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.1);
    transform:  translateY(-5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main {
    background-color: #f8f4f4;
    width: 1550px;
    height: 800px;
    overflow: hidden;
    text-align: center;
    transform: translateX(-1%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #507c6c;
    color: white;
    width: 1550px;
    padding: 50px 20px;
    position: relative;
    border-top-left-radius: 100% 100px;
    border-top-right-radius: 100% 100px;
    text-align: center;
}

.logo {
    width: 182px;
    height: 38px;
    position: relative;
    top: 15px;
    left: 18px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-actions a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.header-actions a:hover {
    text-decoration: underline;
}

.header-actions span {
    margin-right: 10px;
}

.globe_icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    top : 2px;
}

.mark_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top : 2px;
}

.search_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    top : 2px;
}


.text {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    position: relative;
}

.button {
    background-color: #507c6c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}